@import "src/styles/variables.scss";

.articles {
  .article-list {
    padding: 1rem 1rem 1rem 4rem;
    .article-item {
      padding: 1rem;
      height: 9rem;
      border-radius: 0.4rem;
      box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.06);
      margin-bottom: 1rem;
      background: #fff;
      position: relative;

      a {
        display: block;
        padding: 1.2rem 0;
        font-size: 1.1rem;
        color: #ea6f5a;
        cursor: pointer;
      }

      h3 {
        font-size: 1.4rem;
        color: #333;
        font-weight: 600;
        margin-bottom: 1rem;
        width: 100%;
        padding-right: 2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p {
        color: #666;
        font-size: 1.1rem;
        letter-spacing: 0.2px;
        line-height: 1.5;
        width: 100%;
        padding-right: 4rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:first-child .line {
        top: 50%;
        height: 6rem;
        &:after {
          top: 0;
        }
      }

      &:last-child .line {
        top: 0;
        height: 6rem;
        &:after {
          top: 100%;
        }
      }

      .line {
        position: absolute;
        top: 0;
        left: -2rem;
        width: 0;
        height: 10rem;
        border-right: 0.2rem solid #ea6f5a;

        &:after {
          content: "";
          position: absolute;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          top: 50%;
          background: #ea6f5a;
          transform: translate(-0.4rem, -50%);
        }
      }
    }
  }
}
