.contact {
  padding: 1rem 1rem 0;
  & > h4 {
    background: #fff;
    font-size: 1.6rem;
    padding: 0 1.2rem 1.2rem;
    padding: 1.2rem 0;
  }
  .contacts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-y: auto;

    li {
      background: #fff;
      border-radius: 0.4rem;
      box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.06);
      font-size: 1.4rem;
      margin-right: 1.2rem;

      a {
        width: 16rem;
        display: inline-block;
        text-align: center;
        padding: 2rem 1rem;
        white-space: nowrap;
      }
    }

    li.phone {
      a {
        color: #5ab25a;
      }
      &:active {
        background: #e1ebe6;
      }
    }

    li.mail {
      a {
        color: #5876d2;
      }
      &:active {
        background: #b9cdf5;
      }
    }

    li.github {
      a {
        color: #132046;
      }
      &:active {
        background: #97a0d0;
      }
    }

    li.jianshu {
      a {
        color: #ff3985;
      }
      &:active {
        background: #ffdce0;
      }
    }
  }
}
