.stack {
  .stack-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
    .stack-item {
      width: 25%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 4rem;
        height: 4rem;
        // border: 2px solid #ededed;
        // border-radius: 50%;
      }
      span,
      p {
        display: inline-block;
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 1.2rem;
        color: #666;
      }
    }
  }

  .show-more-btn {
    padding: 1rem;
    text-align: center;

    span {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }
}
